.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #fff, #d0d0d0);
  width: 375px;
  height: 812px;
}
.shadows-icon {
  position: absolute;
  height: 46%;
  width: 27.52%;
  top: 730%;
  right: 29.36%;
  bottom: -676%;
  left: 43.12%;
  border-radius: 100px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.button {
  height: 88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 12%;
  left: 0;
  border-radius: 5px;
  background-color: #00664f;
}
.bt-agree,
.button,
.otp {
  position: absolute;
}
.otp {
  top: calc(50% - 14px);
  left: 47.4%;
  font-weight: 600;
}
.bt-agree {
  height: 6.16%;
  width: 87.2%;
  top: 41.63%;
  right: 6.4%;
  bottom: 52.22%;
  left: 6.4%;
}
.line-child {
  height: calc(100% - 0.5px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.5px;
  background-color: #b7b7b7;
}
.cgs119288,
.line,
.line-child {
  position: absolute;
  left: 0;
}
.line {
  width: 100%;
  top: 55px;
  right: 0;
  height: 1px;
  overflow: hidden;
}
.cgs119288 {
  top: calc(50% - 0px);
}
.checked-icon {
  height: 28.57%;
  width: 4.89%;
  top: 48.21%;
  right: 5.81%;
  bottom: 23.21%;
  left: 89.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checked-icon,
.rectangle,
.username {
  position: absolute;
  display: none;
}
.rectangle {
  height: 42.86%;
  width: 0.61%;
  top: 37.5%;
  right: 42.2%;
  bottom: 19.64%;
  left: 57.19%;
  background-color: #62d1ff;
}
.username {
  top: calc(50% - 28px);
  left: 0;
  font-size: 12px;
  color: #494949;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.filed-username {
  position: absolute;
  top: 234px;
  left: 25px;
  width: 327px;
  height: 56px;
  text-align: left;
  font-size: 13px;
  color: #646465;
}
.div {
  width: 91.8%;
  top: calc(50% - 8px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.b,
.div,
.title {
  position: absolute;
}
.b {
  top: calc(50% - 47px);
  left: 0;
  font-size: 20px;
  color: #000;
}
.title {
  top: 101px;
  left: 24px;
  width: 244px;
  height: 94px;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color: #494949;
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #000;
  width: 18px;
  height: 7.33px;
}
.battery {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellular-connection-icon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.span {
  letter-spacing: -0.28px;
}
.time,
.time-style {
  position: absolute;
  width: 54px;
}
.time {
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.time-style {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba1 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.iphone-xstatus-barsstatus-ba {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
  color: #000;
  font-family: "SF Pro Text";
}
.home-indicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: 100px;
  background-color: #000;
  width: 134px;
  height: 5px;
}
.barshome-indicatoriphonelig,
.icoclose-icon {
  position: absolute;
  top: 778px;
  left: 121px;
  width: 134px;
  height: 34px;
}
.icoclose-icon {
  top: 57px;
  left: 24px;
  width: 24px;
  height: 24px;
}
.login-3forgot-password-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 812px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sukhumvit Set";
}
