.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #fff, #d0d0d0);
  width: 375px;
  height: 812px;
}
.welcome {
  top: 246px;
  left: 24px;
  font-size: 20px;
  text-align: left;
}
.div,
.rectangle,
.welcome {
  position: absolute;
}
.div {
  top: 278px;
  left: 24px;
  font-size: 15px;
  font-weight: 600;
  color: #494949;
  text-align: left;
  display: inline-block;
  width: 327px;
}
.rectangle {
  height: 100%;
  width: 100.31%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.31%;
  border-radius: 5px;
  background-color: #00664f;
}
.english {
  top: calc(50% - 10px);
  left: 43.25%;
  font-weight: 600;
}
.bt-en,
.div1,
.english {
  position: absolute;
}
.bt-en {
  top: 406px;
  left: 24px;
  width: 326px;
  height: 44px;
  color: #fff;
}
.div1 {
  top: calc(50% - 9px);
  left: 46.78%;
  font-weight: 600;
}
.bt-en-copy {
  position: absolute;
  top: 474px;
  left: 24px;
  width: 326px;
  height: 44px;
  cursor: pointer;
  color: #fff;
}
.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.cap-icon {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #000;
  width: 18px;
  height: 7.33px;
}
.battery {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifi-icon {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellular-connection-icon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.span {
  letter-spacing: -0.28px;
}
.time,
.time-style {
  position: absolute;
  width: 54px;
}
.time {
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.time-style {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba1 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.iphone-xstatus-barsstatus-ba {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
  font-family: "SF Pro Text";
}
.home-indicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: 100px;
  background-color: #000;
  width: 134px;
  height: 5px;
}
.barshome-indicatoriphonelig {
  position: absolute;
  top: 778px;
  left: 121px;
  width: 134px;
  height: 34px;
}
.select-language {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: "Sukhumvit Set";
}
